@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: 'themix';
    src: url('./TheMix_LT_400.eot');
    src: url('./TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('./TheMix_LT_400.woff') format('woff'), url('./TheMix_LT_400.woff2') format('woff2'), url('./TheMix_LT_400.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'skautbold';
    src: url('./skaut-bold-webfont.eot');
    src: url('./skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('./skaut-bold-webfont.woff') format('woff'), url('./skaut-bold-webfont.woff2') format('woff2'), url('./skaut-bold-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('./TheMix_LT_400i.eot');
    src: url('./TheMix_LT_400i.eot? #iefix') format('embedded-opentype');
    src: url('./TheMix_LT_400i.woff') format('woff'), url('./TheMix_LT_400i.woff2') format('woff2'), url('./TheMix_LT_400i.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: themix, sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: skautbold, sans-serif;
}

@media print {
    #editing {
        display: none!important;
    }
    #header {
        display: none!important;
    }
    #card {
        -webkit-print-color-adjust: exact;
        width: 170mm!important;
        height: 125mm!important;
        box-shadow: none!important;
        border: 1px solid black;
    }
    #onlyForPring {
        display: block!important;
        padding: 0!important;
        margin: 0!important;
    }
    #print-container {
        display: block!important;
    }
}