@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: 'themix';
    src: url('./TheMix_LT_400.eot');
    src: url('./TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('./TheMix_LT_400.woff') format('woff'), url('./TheMix_LT_400.woff2') format('woff2'), url('./TheMix_LT_400.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'skautbold';
    src: url('./skaut-bold-webfont.eot');
    src: url('./skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('./skaut-bold-webfont.woff') format('woff'), url('./skaut-bold-webfont.woff2') format('woff2'), url('./skaut-bold-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: themix, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: skautbold, sans-serif;
}