@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: 'themix';
    src: url('./TheMix_LT_400.eot');
    src: url('./TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('./TheMix_LT_400.woff') format('woff'), url('./TheMix_LT_400.woff2') format('woff2'), url('./TheMix_LT_400.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'skautbold';
    src: url('./skaut-bold-webfont.eot');
    src: url('./skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('./skaut-bold-webfont.woff') format('woff'), url('./skaut-bold-webfont.woff2') format('woff2'), url('./skaut-bold-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: themix, sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: skautbold, sans-serif;
}

@media print {
    #editing {
        display: none!important;
    }
    #header {
        display: none;
    }
    #card {
        -webkit-print-color-adjust: exact;
        width: 650px!important;
        height: 400px!important;
        box-shadow: none!important;
        border: solid 1px black!important;
    }
    #onlyForPring {
        display: block!important;
        margin-top: 25px!important;
        box-shadow: none!important;
        border: solid 1px black!important;
        -webkit-print-color-adjust: exact;
        width: 650px!important;
        height: 400px!important;
    }
}